/bin
/.vs
/obj
obj/Debug/netcoreapp3.1/ResidentManagmentAPI.pdb
obj/Debug/netcoreapp3.1/ResidentManagmentAPI.dll
obj/Debug/netcoreapp3.1/ResidentManagmentAPI.csprojAssemblyReference.cache
obj/Debug/netcoreapp3.1/ResidentManagmentAPI.csproj.FileListAbsolute.txt
